* {
    /*background: rgba(0, 0, 0, 0.05);*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #eee;
    line-height: 1.5;
    font-size: 13px;
}

h1 {
    font-size: 16px;
}

h1, h2 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container:after,
.container:before,
.clearfix:after,
.clearfix:before {
    content: " ";
    clear: both;
    display: table;
}

.navbar {
    background: #a10;
    color: #fff;
}

.navbar a {
    color: #f3d3d3;
}

.navbar form {
    display: inline-block;
}

.navbar-item {
    line-height: 2;
    padding: 2px 4px;
    display: inline-block;
}

.navbar .brand {
    font-size: 20px;
    padding-top: 0;
    line-height: 1;
    font-weight: 600;
}

.container {
    max-width: 400px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.navbar .container {
    margin: 0 auto;
}

/*.container.signup,
.container.login,
.container.question-add,
.container.reset-password {
    margin-top: 15px;
}*/

[ui-sref] {
    cursor: pointer;
}

form, label {
    display: block;
}

label {
    margin: 4px 0;
}

.input-error-set {
    color: red;
    margin: 4px 0;
}

.card {
    margin-top: 20px;
    display: block;
    padding: 10px 6px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}

input, textarea {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}

.input-group {
    margin-bottom: 10px;
}

button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ffffff;
}

button.primary {
    background: #a10;
    color: #fff;
}

button[disabled] {
    background: #EEEEEE;
    color: #aaaaaa;
}

input, button {
    padding: 5px;
}

#quick_ask button {
    background: #a10;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.hr {
    display: block;
    width: 96%;
    height: 1px;
    background: #eee;
    margin: 10px 1%;
}

h1, h2 {
    color: #666;
}

h2 {
    font-size: 14px;
    margin-bottom: 5px;
}

.feed-item-content .content-owner,
.feed-item-content .title {
    color: #222;
}

.feed-item-content .content-owner {
    font-size: 13px;
}

.feed-item-content .content-owner .desc {
    color: #666;
}

.feed-item-content .content-main {
    /*font-size: 14px;*/
}

.feed-item-content .title {
    font-weight: 700;
    font-size: 14px;
}

.action-set {
    color: #777;
    font-size: 12px;
}

.content-act {
    font-size: 14px;
    color: #666;
}

.comment-block {
    display: none;
}

.comment-item-set {
    padding: 0 10px;
}

.comment-item-set .rect {
    position: relative;
    bottom: 17px;
    right: 2px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, 0.08);
}

.comment-item {
    padding-bottom: 10px;
}

.comment-item .user {
    float: left;
    width: 10%;
    font-weight: 500;
}

.comment-item .comment-content {
    float: right;
    width: 90%;
}

.tac {
    text-align: center;
}

.feed.item .vote {
    float: left;
    width: 10%;
}

.feed.item .hr {
    float: left;
}

.feed.item .vote {
    padding-right: 5px;
}

.feed.item .vote > * {
    background: rgba(200, 0, 0, 0.1);
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    margin-bottom: 2px;
    cursor: pointer;
    /*padding: 2px;*/
}

.feed.item .vote .up {
    color: #6f0b00;
    padding: 4px;
}

.feed.item .vote .up:hover {
    color: #fff;
    background: #a10;
}

.feed.item .vote .down {
    background: rgba(0, 0, 0, 0.1);
    color: #555;
}

.feed.item .vote .down:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.feed.item .feed-item-content {
    width: 90%;
    float: left;
}

.info_item > * {
    margin-bottom: 5px;
}

.info_item > *:first-child {
    float: left;
    width: 20%;
}

.info_item > *:last-child {
    float: left;
    width: 80%;
}

.user.container .title {
    font-weight: 700;
}

.question-detail h1 {
    margin-bottom: 0;
}

.gray,
.gray a {
    color: #999;
}